body
{
margin:0;
background-color:rgb(237, 239, 252);
}

header
{
width:100%;
background-color:rgb(65, 105, 225);
padding: 10px;
height:160px;
font-family:Georgia;
}

#logo 
{
width: 150px;
height: 100px;
float: left;
padding: 10px 10px 10px 0px;
margin-right: 10px;
}

.block
{
max-width: 960px;
margin: 0 auto;
text-align: justify;
}


.my-blocks 
{
text-align: left;
display: flex;
flex-direction: column;
}

.my-blocks div 
{
flex: 1;
width: 100%;
background-color:rgb(173, 216, 230);
margin-top:10px;
padding:10px;
}




#form
{
padding: 10px;
margin-top: 10px;

order: 2;
justify-content: center;
text-align: center;
}

footer
{
margin-top:20px;
width:100%;
background-color:rgb(65, 105, 225);
padding: 10px;
height:150px;
text-align: center;
}
@media screen and (min-width: 1000px) {


#menu
{
max-width: 960px;
margin: 0 auto;
margin-top:10px;
padding:10px;
flex-direction: row;
}




.my-blocks div 
{
max-width: 960px;
margin:auto;
margin-top: 10px;
}


#form
{
order: 3;
}
}